@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
    color: #555555;
}

a:hover {
    text-decoration: underline;
}

.header-wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.contents-wrap {
    max-width: 1280px;
    min-height: 980px;
    margin: 0 auto;
}

.contents {
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.nav-wrap {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.border-top {
    border-top: 1px solid #eeeeee;
}

.border-bottom {
    border-bottom: 1px solid #eeeeee;
}

.border-left {
    border-left: 1px solid #eeeeee;
}

.list-wrap {
    max-width: 90%;
    /*min-width:80%;*/
}

.list-wrap li {
    height: 175px;
}

.list-wrap .box {
    margin-bottom: 1rem !important;
    border-radius: 0px !important;
}

.list-contents {
    width: 100%;
}

.category-list {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.markdown-wrap {
    max-width: 90%;
}

.markdown-content {
    max-width: 100%;
}

.markdown-content ul {
    list-style-type: disc !important;
}

.markdown-content pre {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

/* bulma tile */

.tile {
    width: 100%;
}
.tile .is-parent {
    padding: 0;
}

.tile .is-ancestor  {
    margin-top: 0;
}

/* bulma box */

.box {
    box-shadow: 3px 3px 3px rgb(206 205 205);
}

/* bulma p */

p {
    /* 영역 넘어가는 내용 줄바꿈 처리 */
    word-break: break-all !important;
}
